<div class="ui-g">
  <div class="ui-g-12">
    <nb-card status="success">
      <nb-card-header>Informativa Cookie</nb-card-header>
      <nb-card-body>
        <h4>PERCHE’ QUESTA INFORMATIVA?</h4>
        <p>
          Con il presente documento si forniscono agli utenti che navigano sul
          sito <b>Formula 1 stats</b> le informazioni relative ai cookie
          utilizzati o di cui si consente l’installazione.
        </p>
        <h4>CHE COSA SONO I COOKIE?</h4>
        <p>
          Un “cookie” è un piccolo file di testo creato sul computer dell’utente
          al momento in cui questo accede ad un determinato sito, con lo scopo
          di immagazzinare e trasportare informazioni. I cookie sono inviati da
          un server web (che è il computer sul quale è in esecuzione il sito web
          visitato) al browser dell’utente (Internet Explorer, Mozilla Firefox,
          Google Chrome, ecc.) e memorizzati sul computer di quest’ultimo;
          vengono, quindi, re-inviati al sito web al momento delle visite
          successive.
        </p>
        <p>
          Nel corso della navigazione l’utente potrebbe ricevere sul suo
          terminale anche cookie di siti diversi (c.d. cookies di “terze
          parti”), impostati direttamente da gestori di detti siti web e
          utilizzati per le finalità e secondo le modalità da questi definiti.
        </p>
        <h4>QUALI COOKIE SONO UTILIZZATI?</h4>
        <p>
          Il sito utilizza cookie solo per garantire e agevolare la navigazione
          e fruizione del sito web.
        </p>
        <p><b>Cookie tecnici.</b></p>
        <p>
          Il sito utilizza cookie tecnici, rispetto ai quali, in base alla
          normativa vigente, non è richiesto alcun consenso da parte
          dell’interessato.
        </p>
        <p>Più precisamente il sito utilizza:</p>
        <table border="1" bordercolor="#cccccc">
          <tr>
            <th>Nome cookie</th>
            <th>Funzione</th>
            <th>Scadenza</th>
          </tr>
          <tr>
            <td>filtersVisible</td>
            <td>Visualizza o nasconde i filtri nelle selezioni</td>
            <td>Mai</td>
          </tr>
        </table>

        <p></p>
        <h4>COSA SUCCEDE SE SI EVITA L’INSTALLAZIONE DEI COOKIE?</h4>
        <p>
          I cookie tecnici sono strettamente necessari per consentire il miglior
          utilizzo del sito, in assenza di tali cookie, il sito web non potrebbe
          funzionare correttamente.
        </p>
        <h4>COME DISABILITARE I COOKIE?</h4>
        <p>
          Fermo restando quanto sopra indicato in ordine ai cookie tecnici,
          l’utente può eliminarli attraverso le funzionalità indicate nella
          presente informativa, nella parte in cui si elencano i cookie
          utilizzati, oppure direttamente tramite il proprio browser.
        </p>
        <p>
          Si precisa che ciascun browser presenta procedure diverse per la
          gestione delle impostazioni. L’utente può ottenere istruzioni
          specifiche attraverso i link sottostanti.
        </p>
        <ul>
          <li>
            <a
              href="https://support.microsoft.com/it-it/help/17442/windows-internet-explorer-delete-manage-cookies"
              target="_blank"
              >Microsoft Windows Explorer</a
            >
          </li>
          <li>
            <a
              href="https://support.google.com/chrome/answer/95647?hl=it&p=cpn_cook"
              target="_blank"
              >Google Chrome</a
            >
          </li>
          <li>
            <a
              href="https://support.mozilla.org/it/kb/Gestione%20dei%20cookie"
              target="_blank"
              >Mozilla Firefox</a
            >
          </li>
          <li>
            <a href="https://support.apple.com/it-it/HT201265" target="_blank"
              >Safari</a
            >
          </li>
        </ul>
        <p>
          In ordine agli utenti che navigano da mobile, si precisa che le
          configurazioni di sistema per escludere l’archiviazione di cookie o
          per cancellarli variano a seconda della marca e/o del modello del
          device utilizzato e si rende pertanto necessario consultare le
          indicazioni fornite dal produttore.
        </p>
        <h4></h4>
      </nb-card-body>
    </nb-card>
  </div>
</div>
