<div class="ui-g">
  <div class="ui-g-12">
    <form class="form-content">
      <div class="table-header ui-g">
        <div for="constructorSelect" style="padding-right: 10px">Constructor</div>

        <p-dropdown [options]="constructors | async | selectItemPipe:'constructorId':'name'" [(ngModel)]="constructorSelected"
          [ngModelOptions]="{standalone: true}" (onChange)="onChange($event.value)" placeholder="Select a Constructor"
          [autoWidth]="false" filter="true" filterBy="label.name">
          <ng-template let-item pTemplate="selectedItem">
            <div style="white-space: nowrap;">{{item.label.name}}</div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div style="white-space: nowrap;">{{item.label.name}}</div>
          </ng-template>
        </p-dropdown>
      </div>
    </form>
  </div>
</div>

<div class="ui-g">
  <div class="ui-xl-9 ui-lg-9 ui-md-9 ui-sm-12">
    <wikipedia-page [wikiUrl]="wikiUrl"></wikipedia-page>
  </div>
  <div class="ui-xl-3 ui-lg-3 ui-md-3 ui-sm-12">
    <f1-seasons [constructorId]="constructorSelected"></f1-seasons>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12 ui-xl-6">
    <f1-results [season]="season" [constructorId]="constructorSelected"></f1-results>
  </div>

  <div class="ui-g-12 ui-xl-6">
    <f1-qualifying [season]="season" [constructorId]="constructorSelected"></f1-qualifying>
  </div>
</div>