<div class="row">
  <div class="col-xxxl-3 col-xxl-3 col-lg-6 col-md-6">
    <form class="form-content">
      <div class="table-header row">
        <div for="constructorSelect" style="padding-right: 10px">Constructor</div>
        <div>
          <select id="constructorSelect" [(ngModel)]="constructorSelected" (ngModelChange)="onChange($event)" name="constructorSelect">
            <option *ngFor="let ct of constructors | async" value={{ct.constructorId}}>
              {{ct.name}}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <wikipedia-page [wikiUrl]="wikiUrl"></wikipedia-page>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-6 col-12">
    <f1-results [season]="season" [constructorId]="constructorSelected"></f1-results>
  </div>
</div>