<div class="row">
  <div class="col-12">
    <form class="form-content">
      <div class="table-header row">
        <div for="constructorSelect" style="padding-right: 10px">Constructor</div>

        <p-dropdown [options]="constructors | async | selectItemPipe:'constructorId':'name'" [(ngModel)]="constructorSelected" [dataKey]="value"
          [ngModelOptions]="{standalone: true}" (onChange)="onChange($event.value)" placeholder="Select a Constructor" [autoWidth]="false">
          <ng-template let-item pTemplate="selectedItem">
            <div style="white-space: nowrap;">{{item.label.name}}</div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div style="white-space: nowrap;">{{item.label.name}}</div>
          </ng-template>
        </p-dropdown>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <wikipedia-page [wikiUrl]="wikiUrl"></wikipedia-page>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-6 col-12">
    <f1-results [season]="season" [constructorId]="constructorSelected"></f1-results>
  </div>

  <div class="col-xxxl-6 col-12">
    <f1-qualifying [season]="season" [constructorId]="constructorSelected"></f1-qualifying>
  </div>
</div>