<div class="main-container">
  <p-table
    [value]="pageLapsItems"
    [lazy]="true"
    (onLazyLoad)="loadLapsLazy($event)"
    [paginator]="true"
    [rows]="rowsPerPage"
    [totalRecords]="totalRecords"
    *ngIf="totalLapsItems?.length > 0"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>{{ 'position.sing' | translate | ngxCapitalize }}</th>
        <th>{{ 'driver.sing' | translate | ngxCapitalize }}</th>
        <th>{{ 'time.sing' | translate | ngxCapitalize }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lap>
      <tr>
        <td>{{ lap.position }}</td>
        <td>
          <a
            [routerLink]="[
              '/pages/sections/driver',
              { season: season, driverId: lap.driverId }
            ]"
          >
            {{ lap.driver }}</a
          >
        </td>
        <td>{{ lap.time }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
