<nb-card
  size="large"
  [nbSpinner]="!standings"
  nbSpinnerStatus="primary"
  nbSpinnerSize="xxlarge"
  nbSpinnerMessage=""
>
  <div class="chart-container">
    <div class="table-header">
      <fa-icon size="2x" icon="user-astronaut"></fa-icon>
      <div style="margin-right: 10px;margin-left: 10px">
        <div>{{ 'driver.plur' | translate | ngxCapitalize }}</div>
        <div class="subtitle">
          {{ 'standing.sing' | translate | ngxCapitalize }}
        </div>
      </div>
    </div>

    <div class="stats-month">
      <div class="results">
        <b>{{ 'position.sing' | translate | ngxCapitalize }}</b>
      </div>
      <div class="results">
        <b>{{ 'driver.sing' | translate | ngxCapitalize }}</b>
      </div>
      <div class="results">
        <b>{{ 'point.plur' | translate | ngxCapitalize }}</b>
      </div>
    </div>

    <div class="stats-content">
      <div class="stats-month" *ngFor="let stand of standings">
        <div>
          <span class="month">{{ stand.position }}</span>
        </div>
        <a
          [routerLink]="[
            '/pages/sections/driver',
            { season: season, driverId: stand.Driver.driverId }
          ]"
          class="link-black"
        >
          <div class="results" *ngIf="stand.Driver.code; else: nameOnly">
            <b>{{ stand.Driver.givenName }} {{ stand.Driver.familyName }}</b>
            ({{ stand.Driver.code }})
          </div>
          <ng-template #nameOnly>
            <div class="results">
              <b>{{ stand.Driver.givenName }} {{ stand.Driver.familyName }}</b>
            </div>
          </ng-template>
        </a>
        <div>
          <span class="month">{{ stand.points }}</span>
        </div>
      </div>
    </div>
  </div>
</nb-card>
