<div class="row">
  <div class="col-12">
    <form class="form-content">
      <div class="table-header row">
        <div for="circuitSelect" style="padding-right: 10px">Circuit</div>

        <p-dropdown [options]="circuits | async | selectItemPipe:'circuitId':'circuitName'" [(ngModel)]="circuitSelected" [dataKey]="value"
          [ngModelOptions]="{standalone: true}" (onChange)="onChange($event.value)" placeholder="Select a Circuit" [autoWidth]="false">
          <ng-template let-item pTemplate="selectedItem">
            <div style="white-space: nowrap;">{{item.label.circuitName}}</div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div style="white-space: nowrap;">{{item.label.circuitName}}</div>
          </ng-template>
        </p-dropdown>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <wikipedia-page [wikiUrl]="wikiUrl"></wikipedia-page>
  </div>
</div>