<div class="row" *ngIf="wikiPage">
  <div class="col-xxxl-3 col-xxl-3 col-lg-3 col-md-3" *ngIf="wikiPage.thumbnail">
    <div style="height: 100%; padding-bottom: 1.5rem">
      <nb-card style="height: 100%;">
        <div class="img-content">
          <img class="img-wiki" src="{{wikiPage.thumbnail.source}}">
        </div>
      </nb-card>
    </div>
  </div>
  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6" *ngIf="wikiPage.extract_html">
    <div style="height: 100%; padding-bottom: 1.5rem">
      <nb-card style="height: 100%;">
        <div class="table-header">
          <div>
            <div>{{ 'info.sing' | translate | ngxCapitalize }}</div>
            <div class="subtitle">( {{ 'wikipedia.introOf' | translate | ngxCapitalize }} )</div>
          </div>

          <div class="dropdown ghost-dropdown" ngbDropdown>
            <button type="button" class="btn btn-sm" ngbDropdownToggle [ngClass]="{
                            'btn-success': currentTheme === 'default',
                            'btn-primary': currentTheme !== 'default'}">
              {{wikiLang}}
            </button>
            <ul ngbDropdownMenu class="dropdown-menu">
              <li class="dropdown-item" *ngFor="let lang of translate.getLangs()" (click)="reloadLang(lang)">
                {{ lang }}
              </li>
            </ul>
          </div>
        </div>

        <div class="table-header">
          <div [innerHtml]="wikiPage.extract_html" class="text"></div>

        </div>
      </nb-card>
    </div>
  </div>

  <div class="col-xxxl-3 col-xxl-3 col-lg-3 col-md-3">
    <nb-card *ngIf="wikiPage.content_urls.desktop">
      <div class="table-header">
        <div class="text">
          <i class="fa fa-desktop" style="min-width: 40px;"></i>
          <a href="{{wikiPage.content_urls.desktop.page}}" target="_blank">Wikipedia page</a>
        </div>
      </div>
    </nb-card>

    <nb-card *ngIf="wikiPage.content_urls.mobile">
      <div class="table-header">
        <div class="text">
          <i class="fa fa-mobile-alt" style="min-width: 40px;"></i>
          <a href="{{wikiPage.content_urls.mobile.page}}" target="_blank">Wikipedia page</a>
        </div>
      </div>
    </nb-card>
  </div>

</div>