@import "../../@theme/styles/themes";
@import "~@nebular/theme/components/card/card.component.theme";
@import "~@nebular/theme/styles/global/typography/typography";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
  position: relative;
  display: block;
  overflow: hidden;

  nb-card {
    position: relative;
  }

  nb-card-header {
    border-bottom: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      font-size: 1.5rem;
      font-weight: nb-theme(font-weight-bold);
      margin: 0px 5px 0px 5px;
    }
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .chart-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }

  .chart-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.125rem;
  }

  @include media-breakpoint-down(is) {
    ngx-legend-chart {
      /deep/ .legends {
        padding-left: 0;
        font-size: nb-theme(font-size-sm);
      }
    }
  }
}
