<div class="row">
  <div class="col-12">
    <form class="form-content">
      <div class="table-header row">
        <div for="driverSelect" style="padding-right: 10px">Driver</div>

        <p-dropdown [options]="drivers | async | selectItemPipe:'driverId':'givenName'" [(ngModel)]="driverIdSelected" [dataKey]="value"
          [ngModelOptions]="{standalone: true}" (onChange)="onChange($event.value)" placeholder="Select a Driver" [autoWidth]="false">
          <ng-template let-item pTemplate="selectedItem">
            <div style="white-space: nowrap;">{{item.label.givenName}} {{item.label.familyName}}</div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div style="white-space: nowrap;">{{item.label.givenName}} {{item.label.familyName}}</div>
          </ng-template>
        </p-dropdown>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <wikipedia-page [wikiUrl]="wikiUrl"></wikipedia-page>
  </div>
</div>

<!--
<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <nb-card>
      stagioni partecipate: http://ergast.com/api/f1/drivers/alonso/seasons
    </nb-card>
  </div>
</div>-->

<div class="row">
  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-12">
    <f1-results [season]="season" [driverId]="driverIdSelected"></f1-results>
  </div>

  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-12">
    <f1-qualifying [season]="season" [driverId]="driverIdSelected"></f1-qualifying>
  </div>
</div>

<!--
<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <nb-card>
      selected seasons finishing status: http://ergast.com/api/f1/current/drivers/alonso/status
    </nb-card>
  </div>
</div>
-->