@import "../../@theme/styles/themes";
@import "~@nebular/theme/components/card/card.component.theme";
@import "~@nebular/theme/styles/global/typography/typography";

@include nb-install-component() {
  // THANKS
  .attr-container {
    position: relative;
    justify-content: center;
    display: flex;
    margin: 10px;

    .attr-image {
      width: 100%;
      height: 100%;
    }

    span {
      position: absolute;
      text-align: center;
      height: 100%;
      width: 100%;
      color: white;
      font-family: nb-theme(font-main);
      font-size: 1.15rem;

      &:before {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        content: "";
      }
    }
  }

  // FAQ
  .faq-container {
    display: flex;
    flex-direction: column;
    color: nb-theme(color-fg-heading);
    font-family: nb-theme(font-main);
    font-size: 1.15rem;
    font-weight: nb-theme(font-weight-light);

    .faq-title {
      //margin-top: nb-theme(margin);
      font-weight: nb-theme(font-weight-bold);
    }

    .faq-text {
      margin-top: 0.5rem;
    }
  }

  // ANDROID
  .android-container {
    display: flex;
    flex-direction: column;
    color: nb-theme(color-fg-heading);
    font-family: nb-theme(font-main);
    font-size: 1.15rem;
    font-weight: nb-theme(font-weight-light);
  }

  .gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ::ng-deep .ui-panel-images {
    width: auto !important;
    height: 100% !important;
  }

  // TRANSLATION
  .translation-container {
    color: nb-theme(color-fg-heading);
    font-family: nb-theme(font-main);
    font-size: 1.15rem;
    font-weight: nb-theme(font-weight-light);
  }

  .thank-you-image {
    width: 100%;
    height: auto;
  }
}
