@import '../../../@theme/styles/themes';
@import '~@nebular/theme/components/card/card.component.theme';
@import '~@nebular/theme/styles/global/typography/typography';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/hero-buttons';

@include nb-install-component() {

    .form-content {
        margin-bottom: 10px;
    }

    .table-header {
        @include nb-card-header();
        font-size: 1.38rem;
        display: flex;
        align-items: center;
        padding: 0;
      }

    .row {
        flex-wrap: wrap;
        margin-right: 0px;
        margin-left: 0px;
    }
}