<nb-card size="large">
  <div class="chart-container">
    <div class="table-header">
      <div>Constructors</div>
      <div class="subtitle">Standings</div>
    </div>

    <div class="stats-month">
      <div class="results">
        <b>Position</b>
      </div>
      <div class="results">
        <b>Constructor</b>
      </div>
      <div class="results">
        <b>Points</b>
      </div>
    </div>

    <div class="stats-content">
      <div class="stats-month" *ngFor="let stand of standings | async">
        <div>
          <span class="month">{{ stand.position }}</span>
        </div>
        <div class="results" *ngIf="stand.Constructor.nationality; else nameOnly">
          <b>{{stand.Constructor.name}}</b> ({{stand.Constructor.nationality}})
        </div>
        <ng-template #nameOnly>
          <div class="results">
            <b>{{stand.Constructor.name}}</b>
          </div>
        </ng-template>
        <div>
          <span class="month">{{ stand.points }}</span>
        </div>
      </div>
    </div>
  </div>
</nb-card>