<span class="ui-fluid">
  <p-autoComplete
    [ngModel]="selectedDrivers"
    (ngModelChange)="onSelectedDriversChange($event)"
    [suggestions]="filteredDrivers"
    (completeMethod)="filterDrivers($event)"
    [minLength]="1"
    [multiple]="true"
    placeholder="{{ 'search' | translate | ngxCapitalize }}..."
    nbTooltip="'*' {{ 'to-show-all' | translate }}"
    nbTooltipPlacement="bottom"
  >
    <ng-template let-driver pTemplate="selectedItem">
      <span style="margin-right: 20px"
        >{{ driver.givenName }} {{ driver.familyName }}</span
      >
    </ng-template>
    <ng-template let-driver pTemplate="item">
      <span>{{ driver.givenName }} {{ driver.familyName }}</span>
    </ng-template>
  </p-autoComplete>
</span>
