<div class="ui-g">
  <div class="ui-xl-3 ui-lg-3 ui-md-4 ui-sm-12">
    <h2>{{ 'language.sing' | translate | ngxCapitalize }}</h2>
  </div>

  <div class="ui-xl-3 ui-lg-3 ui-md-8 ui-sm-12">
    <div
      [(ngModel)]="currentLang"
      ngbRadioGroup
      class="btn-group btn-group-toggle btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group"
    >
      <label
        ngbButtonLabel
        class="btn btn-outline-primary"
        *ngFor="let lang of translate.getLangs()"
      >
        <input
          ngbButton
          type="radio"
          value="{{ lang }}"
          (click)="onLangChange(lang)"
        />
        {{ lang }}
      </label>
    </div>
  </div>
</div>

<div class="ui-g">
  <div class="ui-xl-3 ui-lg-3 ui-md-4 ui-sm-12">
    <h2>{{ 'theme.sing' | translate | ngxCapitalize }}</h2>
  </div>

  <div class="ui-xl-6 ui-lg-6 ui-md-8 ui-sm-12">
    <themes-switcher></themes-switcher>
  </div>
</div>

<div class="ui-g">
  <div class="ui-xl-3 ui-lg-3 ui-md-4 ui-sm-12">
    <h2>{{ 'direction.sing' | translate | ngxCapitalize }}</h2>
  </div>

  <ngx-layout-direction-switcher></ngx-layout-direction-switcher>
</div>
