@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {

    .row {
        margin-bottom: 3rem;
    }

    ngx-layout-direction-switcher {

        padding-left: 15px;
        padding-right: 15px;
    }
}