@import "../../@theme/styles/themes";

@include nb-install-component() {
  .ui-g {
    margin-top: 3rem;
  }

  ngx-layout-direction-switcher {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  ngx-switcher {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .value-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .key-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  h2 {
    margin: 0px 5px 0px 5px;
  }

  fa-icon {
    color: nb-theme(color-primary);
  }

  fa-layers-counter {
    zoom: 160%;
    position: relative;
    left: 1.2rem;
    top: 1rem;
  }
}
