@import "../../@theme/styles/themes";

@include nb-install-component() {
  .row {
    margin-bottom: 3rem;
  }

  ngx-layout-direction-switcher {
    padding-left: 15px;
    padding-right: 15px;
  }
}
