<div class="ui-g">
  <div class="ui-g-12">
    <nb-card status="success">
      <nb-card-header>Informativa privacy</nb-card-header>
      <nb-card-body>
        <h4>PERCHE’ QUESTA INFORMATIVA?</h4>
        <p>
          Con il presente documento, così come previsto dalla normativa vigente
          (art. 13 Regolamento generale sulla protezione dei dati, di seguito
          anche RGPD), si forniscono agli utenti che consultano il sito
          <b>Formula 1 stats</b>, le informazioni relative al trattamento dei
          loro dati personali.
        </p>
        <h4>QUALI DATI SONO TRATTATI?</h4>
        <p>
          Attraverso il sito non vengono trattati nè dati di navigazione nè dati
          forniti dall’utente.
        </p>
        <p><b>Dati di navigazione</b></p>
        <p>
          I sistemi informatici e le procedure software preposte al
          funzionamento di questo sito web non acquisiscono, nel corso del loro
          normale esercizio, dati personali la cui trasmissione è implicita
          nell’uso dei protocolli di comunicazione di Internet.<br />
          Si tratta di informazioni che non sono raccolte per essere associate a
          interessati identificati, ma che per loro stessa natura potrebbero,
          attraverso elaborazioni ed associazioni con dati detenuti da terzi,
          permettere di identificare gli utenti.<br />
          In questa categoria di dati rientrano gli indirizzi IP o i nomi a
          dominio dei computer utilizzati dagli utenti che si connettono al
          sito, gli indirizzi in notazione URI (Uniform Resource Identifier)
          delle risorse richieste, l’orario della richiesta, il metodo
          utilizzato nel sottoporre la richiesta al server, la dimensione del
          file ottenuto in risposta, il codice numerico indicante lo stato della
          risposta data dal server (buon fine, errore, ecc.) ed altri parametri
          relativi al sistema operativo e all’ambiente informatico dell’utente.
        </p>
        <h4>TERMINI E CONDIZIONI DI TERZE PARTI</h4>
        <p><b>Ergast Developer API</b></p>
        <p>
          The Ergast Developer API is an experimental web service which provides
          a historical record of motor racing data for non-commercial
          purposes.<br />
          The author grants you the right to create your own applications and
          services based on this API provided that these conform to the
          conditions specified in this document.
        </p>
        <p>
          <a href="http://ergast.com/mrd/terms/" target="_blank"
            >Maggiori informazioni</a
          >
        </p>

        <h4>ULTERIORI INFORMAZIONI</h4>
        <p>
          In ordine ai cookie e strumenti analoghi utilizzati dal sito si rinvia
          all’informativa cookie.
        </p>
      </nb-card-body>
    </nb-card>
  </div>
</div>
