@import "../../../@theme/styles/themes";
@import "~@nebular/theme/components/card/card.component.theme";
@import "~@nebular/theme/styles/global/typography/typography";

@include nb-install-component() {
  .issues-container {
    color: nb-theme(color-fg-heading);
    font-family: nb-theme(font-main);
    font-size: 1.15rem;
    font-weight: nb-theme(font-weight-light);
    padding-bottom: nb-theme(margin);
  }

  .translation-container {
    color: nb-theme(color-fg-heading);
    font-family: nb-theme(font-main);
    font-size: 1.15rem;
    font-weight: nb-theme(font-weight-light);
  }

  .thank-you-image {
    width: 100%;
    height: auto;
  }
}
