<span class="ui-fluid">
  <div class="main-container">
    <div style="flex-grow:1;">
      <p-multiSelect
        [options]="constructors"
        [ngModel]="selectedConstructors"
        (ngModelChange)="onSelectedConstructorsChange($event)"
        optionLabel="name"
        [filter]="false"
        defaultLabel="{{ 'select' | translate | ngxCapitalize }}..."
        [showHeader]="false"
      ></p-multiSelect>
    </div>
    <div class="info-icon-container">
      <fa-icon
        size="lg"
        icon="info-circle"
        nbTooltip="'*' {{ 'to-show-all' | translate }}"
      ></fa-icon>
    </div>
  </div>
</span>
