<nb-card size="large">
  <div class="chart-container">
    <div class="table-header">
      <div>Drivers</div>
      <div class="subtitle">Standings</div>
    </div>

    <div class="stats-month">
      <div class="results">
        <b>Position</b>
      </div>
      <div class="results">
        <b>Driver</b>
      </div>
      <div class="results">
        <b>Points</b>
      </div>
    </div>

    <div class="stats-content">
      <div class="stats-month" *ngFor="let stand of standings | async">
        <div>
          <span class="month">{{ stand.position }}</span>
        </div>
        <a href="#/pages/sections/driver/{{stand.Driver.driverId}}">
          <div class="results" *ngIf="stand.Driver.code; else nameOnly">
            <b>{{stand.Driver.givenName}} {{stand.Driver.familyName}}</b> ({{stand.Driver.code}})
          </div>
          <ng-template #nameOnly>
            <div class="results">
              <b>{{stand.Driver.givenName}} {{stand.Driver.familyName}}</b>
            </div>
          </ng-template>
        </a>
        <div>
          <span class="month">{{ stand.points }}</span>
        </div>
      </div>
    </div>
  </div>
</nb-card>