<nb-card size="large" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="xxlarge" nbSpinnerMessage="">
  <div class="chart-container">
    <div class="table-header">
      <fa-icon size="2x" icon="car"></fa-icon>
      <div style="margin-right: 10px;margin-left: 10px">
        <div>{{ 'constructor.plur' | translate | ngxCapitalize }}</div>
        <div class="subtitle">{{ 'standing.sing' | translate | ngxCapitalize }} (top 5)</div>
      </div>
    </div>

    <div class="echart">
      <p-chart type="doughnut" [data]="data" [options]="options" width="100%" height="100%"></p-chart>
    </div>
  </div>
</nb-card>