@import "../../../@theme/styles/themes";
@import "~@nebular/theme/components/card/card.component.theme";
@import "~@nebular/theme/styles/global/typography/typography";

@include nb-install-component() {
  .chart-container {
    min-height: 500px;
    min-width: 500px;
    flex: 1;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
}
