@import "./themes";

@mixin ng-theme() {
  .ui-widget,
  .ui-widget .ui-widget {
    font-family: nb-theme(header-font-family) !important;
  }

  .ui-inputtext {
    background: nb-theme(color-bg);
    color: nb-theme(search-text);
    font-family: nb-theme(header-font-family);
  }

  p-table {
    thead.ui-table-thead {
      > tr > th {
        background: nb-theme(smart-table-bg);
        color: nb-theme(color-fg-heading);
      }
    }

    tbody.ui-table-tbody {
      > tr {
        background: nb-theme(smart-table-bg);
        color: nb-theme(color-fg-heading);
      }

      > tr:nth-child(even) {
        background: nb-theme(smart-table-bg-even);
        color: nb-theme(color-fg-heading);
      }
    }
  }

  p-dropdown {
    .ui-dropdown {
      border: 2px solid nb-theme(color-bg-active);
      background: nb-theme(color-bg-active);
      border-radius: 5px;
    }

    .ui-dropdown label.ui-dropdown-label {
      background: nb-theme(color-bg);
      color: nb-theme(color-fg-text);
    }

    .ui-dropdown div.ui-dropdown-trigger {
      background: nb-theme(color-bg);
    }

    .ui-dropdown ul.ui-dropdown-items.ui-dropdown-list {
      background: nb-theme(color-bg);
    }

    .ui-dropdown li.ui-dropdown-item {
      color: nb-theme(color-fg-text);
    }

    .ui-dropdown li.ui-dropdown-item:hover {
      background: nb-theme(color-bg-active) !important;
      color: nb-theme(color-fg-text) !important;
    }

    .ui-dropdown-panel .ui-dropdown-filter-container {
      background: nb-theme(color-bg);
    }
  }

  p-autocomplete {
    span.ui-autocomplete {
      height: 100%;
    }
    ul.ui-autocomplete-multiple-container {
      height: 100%;
      background-color: nb-theme(color-bg);
    }
    li.ui-autocomplete-input-token {
      height: 100% !important;
    }
    li.ui-autocomplete-token {
      background-color: nb-theme(color-primary) !important;
    }
    li.ui-autocomplete-list-item.ui-state-highlight {
      background-color: nb-theme(color-primary) !important;
    }
    li.ui-autocomplete-list-item {
      color: nb-theme(search-text) !important;
      background-color: nb-theme(color-bg) !important;
    }
    input {
      color: nb-theme(search-text);
      font-family: nb-theme(header-font-family) !important;
      height: 100% !important;
    }
  }

  p-multiSelect {
    div.ui-multiselect {
      height: 100%;
    }
    div.ui-multiselect-label-container {
      height: 100%;
      display: flex;
      align-items: center;
      background-color: nb-theme(color-bg);
    }
    label.ui-multiselect-label {
      margin-bottom: 0rem;
      color: nb-theme(search-text);
    }
    div.ui-multiselect-items-wrapper {
      background-color: nb-theme(color-bg) !important;
    }
    li.ui-multiselect-item {
      display: flex !important;
      flex-direction: row !important;
      align-items: center !important;
      padding-bottom: 0.5rem !important;
      background-color: nb-theme(color-bg) !important;
      color: nb-theme(search-text) !important;
    }
    li.ui-multiselect-item.ui-state-highlight {
      background-color: nb-theme(color-primary) !important;
    }
    label.ng-tns-c22-12 {
      margin-bottom: 0px !important;
    }
    div.ui-multiselect-trigger {
      background-color: transparent !important;
    }

    .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item label {
      margin-bottom: 0px;
    }
  }

  p-paginator {
    .ui-paginator {
      background: nb-theme(color-bg);
    }

    a:hover {
      background: nb-theme(color-bg-active) !important;
      color: nb-theme(color-fg-text) !important;
    }
  }
}
