<div class="row" *ngIf="wikiPage">
  <div class="col-xxxl-3 col-xxl-3 col-lg-3 col-md-3" *ngIf="wikiPage.thumbnail">
    <nb-card>
      <div class="img-content">
        <img class="img-wiki" src="{{wikiPage.thumbnail.source}}">
      </div>
    </nb-card>
  </div>
  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6" *ngIf="wikiPage.extract">
    <nb-card>
      <div class="table-header">
        <div>Info</div>
        <div class="subtitle">(source Wikipedia)</div>
      </div>

      <div class="table-header">
        <div class="text">{{wikiPage.extract}}</div>
      </div>
    </nb-card>
  </div>

  <div class="col-xxxl-3 col-xxl-3 col-lg-3 col-md-3">
    <nb-card *ngIf="wikiPage.content_urls.desktop">
      <div class="table-header">
        <div class="text">
          <i class="fa fa-desktop" style="min-width: 40px;"></i>
          <a href="{{wikiPage.content_urls.desktop.page}}" target="_blank">Wikipedia page</a>
        </div>
      </div>
    </nb-card>

    <nb-card *ngIf="wikiPage.content_urls.mobile">
      <div class="table-header">
        <div class="text">
          <i class="fa fa-mobile-alt" style="min-width: 40px;"></i>
          <a href="{{wikiPage.content_urls.mobile.page}}" target="_blank">Wikipedia page</a>
        </div>
      </div>
    </nb-card>
  </div>

</div>