<nb-reveal-card [showToggleButton]="false" [revealed]="revealed" *ngIf="(results)?.length">
  <nb-card-front>
    <nb-card>
      <driver-qualifying-header></driver-qualifying-header>
      <driver-qualifying-table [results]="results"></driver-qualifying-table>
      <i class="nb-arrow-up" (click)="toggleView()"></i>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card>
      <driver-qualifying-header></driver-qualifying-header>
      <driver-qualifying-chart [results]="results"></driver-qualifying-chart>
      <i class="nb-arrow-down" (click)="toggleView()"></i>
    </nb-card>>
  </nb-card-back>
</nb-reveal-card>