<nb-card-body>
  <div style="min-width:600px; overflow:hidden">
    <p-table [columns]="cols" [value]="racesResults" [tableStyle]="{'table-layout':'auto'}" class="ng-table">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">{{col.key | translate | ngxCapitalize}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr *ngIf="(rowIndex === 0 || rowData.raceName != racesResults[rowIndex-1].raceName)">
          <td [attr.colspan]="cols.length">
            <span style="font-weight:bold">{{rowData.raceName}}</span>
          </td>
        </tr>
        <tr>
          <td *ngFor="let col of columns">{{col.cell(rowData)}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</nb-card-body>